<html>
    <head>
        <title>Servo.com</title>
    </head>

    <body>
        <div class="navbar">
            <a href="home">Home</a>
            <a href="Product">Products</a>
            <a href="Services">Services</a>
            <a href="Hotdeal">Hotdeal</a>
            <a href="Sign_up">Register</a>

        </div>
       <p>Get your professional services delivered to your door step </p> 
       <div id="content", name="content">
       {% block content %}
       {% endblock %}
    </div>

    </body>
    </html>